# Diretórios de node_modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de saída de compilação

# Arquivos específicos do sistema de IDE/editor
.vscode/
.idea/
*.sublime-workspace
.history/

# Arquivos temporários
temp/
tmp/

# Arquivos de configuração sensíveis
.env

# Pasta bin e obj do .NET
**/bin/
**/obj/
